<mat-form-field appearance="fill" style="background-color: #7C98B3; border-radius: 20px;">
  <mat-label>Fortune 500 Years</mat-label>
  <mat-date-range-input
    [dateFilter]=""
    [min]="minDate"
    [max]="maxDate"
    [formGroup]="range"
    [rangePicker]="picker"
  >
    <input matInput matStartDate
           formControlName="start"
           placeholder="Start date"
    >
    <input matInput matEndDate formControlName="end" placeholder="End date"
           [min]="minDate"
           [max]="maxDate"
    >
  </mat-date-range-input>
  <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
  <mat-date-range-picker #picker
   startView="multi-year">
  </mat-date-range-picker>
</mat-form-field>
