.small-card
{
  width: 350px; padding: 0;
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  box-shadow: 0 2px 3px 2px gray;
  background-color: white;
  color: black;
  border-radius: 10px;
  margin-bottom: 10px;
}

.anchor
{
  text-decoration: none;
  width: 100%;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
  border-style: none;
}

.anchor-arrow
{
  display: flex;
  justify-content: flex-end;
}

::ng-deep #small-card-id > a > span.mat-button-wrapper
{
  display: flex !important;
  flex-direction: row !important;
  width: 100% !important;
}

#small-card-id:hover
{
  background-color: lightgray;
}
#small-card-id > a:hover
{
  background-color: lightgray;
}
