<div *ngIf="displayComponent">
  <div class="white-space"></div>

  <div class="welcome-container">
    <div class="welcome-title-container">
      <p class="welcome-title">Welcome to your business helper</p>
    </div>
    <div class="top-3">
      <app-small-card
      [cards]="[{path: '/accounting/web-to-csv', display: 'convert your stuff to csv!'}, {path: '/finance', display: 'check out your finances.'}, {path: '/marketing', display: 'create your own marketing logo.'}]"
      ></app-small-card>
    </div>
    <div class="welcome-image">
      <img class="welcome-image-properties" src="assets/home_important_links.jpg"/>
  </div>








</div>


<router-outlet></router-outlet>
