<div *ngIf="displayComponent">

  <div class="white-space"></div>

  <div class="welcome-container">
    <div style="display: flex; width: 100%; flex-direction: column; justify-content: center; align-items: center">
      <div class="welcome-title-container">
        <app-title
          [title]="'Welcome to your business helper'"
          [lineHeight]="'1'"
          [wordSpacing]="'5px'"
          [wordBreak]="'break-word'"
          [fontColor]="'#fdfff5'"
        ></app-title>
      </div>
      <div class="top-3">
        <app-small-card
          [cards]="[{path: '/accounting/web-to-csv', display: 'convert your stuff to csv!'}, {path: '/finance', display: 'check out your finances.'}, {path: '/marketing', display: 'create your own marketing logo.'}]"
        ></app-small-card>
      </div>
    </div>

    <div class="welcome-image">
      <img class="welcome-image-properties" src="assets/home_important_links.jpg"/>
    </div>
  </div>

  <div class="article-section-container">
    <div class="article-title-container">
      <app-title
        [title]="'Recent Articles'"
        [wordSpacing]="'5px'"
        [fontSize]="'45px'"
        [margin]="'5px 0 5px 20px'"
        [background]="'-webkit-linear-gradient(white, #E6E6FA)'"
      ></app-title>
    </div>

    <div class="article-container">
      <app-medium-card
      [mediumCards]="mockData"
      [margin]="'0 100px 0 0'">
      </app-medium-card>
    </div>
  </div>

  <div class="main-video">
    <app-title
      [title]="'Our Story'"
      [wordSpacing]="'5px'"
      [fontSize]="'45px'"
      [background]="'-webkit-linear-gradient(white, #E6E6FA)'"
      [margin]="'5px 20px 5px 0'"
    ></app-title>
  </div>

  <div style="display: flex; justify-content: center; align-items: center; width: 100%; padding: 50px 0 50px 0;">
    <div style="display: flex; flex-direction: column; justify-content: center; align-items: center; margin-right: 20px;">
      <app-title
        [title]="'View how our story came to be'"
        [fontSize]="'40px'"


        [background]="'-webkit-linear-gradient(white, #E6E6FA)'"
        [margin]="'0px 0 0px 20px'"
      ></app-title>
      <app-title
        [title]="'Let our story become your\'s'"
        [fontSize]="'25px'"
        [fontColor]="'black'"
        [fontWeight]="'400'"
        [margin]="'0 0 0 0'"
      ></app-title>
    </div>

    <app-video
      [source]="'MMybT3dKe_8'"
      [location]="'Youtube'">
    </app-video>
  </div>

</div>


<router-outlet></router-outlet>
