<div class="nav-bar-items">

  <a routerLink="/">
    <app-logo
      [width]="'65px'"
      [height]="'65px'"
      [borderRadius]="'5px'"
      [margin]="'0 10px 0 10px'"
    >
    </app-logo>
  </a>



  <div class="links">
    <app-nav-bar-links
      [links]="['Page 1', 'Page 2', 'Page 3']"
      [fontSize]="'18px'"
      [width]="'100px'"
    >
    </app-nav-bar-links>
  </div>
  <div class="search">
    <app-search-bar
    [fontSize]="'18px'"
    [availableRoutes]="['Cool Page', 'Less Cool Page', 'Least Cool Page']"
    [width]="'300px'"
    >
    </app-search-bar>



  </div>
  <div class="sign-in">
    <a mat-button style="font-size: 18px"> Sign In </a>
    <span style="font-size: 20px">|</span>
    <a mat-button style="font-size: 18px"> Register </a>
  </div>
  <div class="profile-image">
    <img style="width: 50px; height: 50px; border-radius: 50px" src="assets/question_mark.png"/>
  </div>

</div>


