<div class="nav-bar-items">
  <a routerLink="/">
    <app-logo
      [width]="'65px'"
      [height]="'65px'"
      [borderRadius]="'5px'"
      [margin]="'0 10px 0 10px'"
    >
    </app-logo>
  </a>

  <div class="links">
    <app-nav-bar-links
      [links]="navbarLinks"
      [backLink]="backLink"
      [fontSize]="'16px'"
      [width]="'100px'"
    >
    </app-nav-bar-links>
  </div>
  <div class="search">
    <app-search-bar
    [fontSize]="'18px'"
    [availableRoutes]="['Cool Page', 'Less Cool Page', 'Least Cool Page']"
    [width]="'400px'"
    >
    </app-search-bar>
  </div>

  <div class="sign-in">
    <app-login-nav [fontSize]="'18px'"></app-login-nav>
  </div>

  <div class="profile-image">
    <app-profile-image
      [height]="'50px'"
      [width]="'50px'"
      [borderRadius]="'50px'"
    >
    </app-profile-image>
  </div>
</div>


