<!--Back arrow for mobile-->
<div *ngIf='matMenuItems'>
  <button *ngIf='backLink && matMenuItems' mat-menu-item>
    <a mat-button
       [ngStyle]="
  {
    'width': '100%',
    'color': '#00487C',
    'margin-left': '5px'

  }"
       routerLink="{{backLink}}">
      <mat-icon>arrow_upward</mat-icon>
    </a>
  </button>

  <!--Routes for mobile-->
  <button *ngFor='let link of links' mat-menu-item>
    <a  [ngStyle]="
    {
      'width': width,
      'fontSize': fontSize,
      'color': 'white',
      'text-decoration': 'none',
      'fontFamily': 'roboto-fontface, sans-serif'
    }"
       routerLink="{{link.path}}">
      {{ link.display | titlecase }}
    </a>
  </button>
</div>






<!--Back arrow for desktop-->
<div *ngIf="noButton">
  <a *ngIf="backLink" mat-button
     [ngStyle]="
    {
      'width': '50px',
      'color': '#00487C'

    }"
     routerLink="{{backLink}}">
    <mat-icon>arrow_back</mat-icon>
  </a>

  <!--Routes for desktop-->

    <a *ngFor='let link of links' mat-button [ngStyle]="
    {
      'width': width,
      'fontSize': fontSize,
      'padding': '0px',
      'fontFamily': 'roboto-fontface, sans-serif'
    }"
       routerLink="{{link.path}}"
    >
      {{ link.display | titlecase }}
    </a>
</div>







