<a routerLink="{{card.path}}" *ngFor="let card of mediumCards" [ngStyle]="{'margin': margin}" class="medium-card-container">
  <mat-card class="medium-card-sub-container">
    <mat-card-title class="medium-card-title">{{card.title}}</mat-card-title>
    <mat-card-subtitle class="medium-card-sub-title">{{card.subtitle}}</mat-card-subtitle>
    <img class="medium-card-image" src="assets/{{card.image}}" mat-card-image/>
    <mat-card-content>{{card.description}}</mat-card-content>
  </mat-card>
</a>
