<p [ngStyle]="{
  'fontFamily': fontFamily,
  'fontSize': fontSize,
  'lineHeight': (lineHeight !== '') ? lineHeight : null,
  'color': fontColor,
  'fontWeight': fontWeight,
  'wordSpacing': (wordSpacing !== '') ? wordSpacing : null,
  'wordBreak': (wordBreak !== '') ? wordBreak : null,
  'margin': (margin !== '') ? margin : null,
  'borderBottom': borderBottom,
  'paddingBottom': paddingBottom,
  'position': position,
  'left': left,
  'right': right,
  'top': top,
  'bottom': bottom
}"
>{{title | titlecase}}</p>
