<p [ngStyle]="{
  'fontFamily': fontFamily,
  'fontSize': fontSize,
  'lineHeight': lineHeight,
  'color': fontColor,
  'fontWeight': fontWeight,
  'wordSpacing': wordSpacing,
  'wordBreak': wordBreak,
  'margin': margin,
  'borderBottom': borderBottom,
  'paddingBottom': paddingBottom,
  'position': position,
  'left': left,
  'right': right,
  'top': top,
  'bottom': bottom,
  'background': background,
  '-webkit-background-clip': (background) ? 'text' :  webkitBackgroundClip,
  '-webkit-text-fill-color': (background) ? 'transparent' : webkitTextFillColor
}"
>{{title | titlecase}}</p>
