
<ng-container *ngIf='displayComponent'>

  <app-page-header
  [source]="'accounting-main-page.png'"
  [title]="'Accounting'">
  </app-page-header>

  <div class="accounting-big-four-outer-container">
    <div class="accounting-big-four-inner-container">
      <mat-card class='accounting-big-four'>
        <img class="accounting-big-four-img" src="assets/ernst-and-young-logo.jpg"/>
      </mat-card>
      <mat-card class='accounting-big-four'>
        <img class="accounting-big-four-img" src="assets/deloitte_logo.png"/>
      </mat-card>
    </div>
    <div style="display: flex;flex-direction: column; justify-content: center; align-items: center; width: 100%;">
      <mat-card class='accounting-big-four'>
        <img class="accounting-big-four-img" src="assets/kpmg_logo.png"/>
      </mat-card>
      <mat-card class='accounting-big-four'>
        <img class="accounting-big-four-img" src="assets/pwc-logo.png"/>
      </mat-card>
    </div>
  </div>
</ng-container>

<router-outlet></router-outlet>
