<div style="display: flex; width: 100%; background-color: lightgray">
  <div style='display: flex; width: 100%; justify-content: flex-start; align-items: center'>
    <a routerLink="/">
      <app-logo
        [width]="'65px'"
        [height]="'65px'"
        [borderRadius]="'5px'"
        [margin]="'0 200px 0 10px'"
      >
      </app-logo>
    </a>

    <div [routerLink]='' *ngFor='let routes of routerParentChildren | keyvalue'>
      <h2><a [routerLink]="'/' + routes.key" >{{routes.key}}</a></h2>
      <a [routerLink]='childRoute.path' *ngFor='let childRoute of routes.value'>{{childRoute.display}}</a>
    </div>

  </div>
</div>
