<div class="footer-container">
  <div class="footer-sub-container">
    <a routerLink="/">
      <app-logo
        [width]="'115px'"
        [height]="'115px'"
        [borderRadius]="'5px'"
        [margin]="'0 0 0 10px'"
        [position]="'relative'"
        [left]="'125px'"
        [bottom]="'25px'"
      >
      </app-logo>
    </a>

    <div class="footer-navigation-container">
      <div class="footer-sub-navigation-container" *ngFor='let routes of routerParentChildren | keyvalue'>
        <a class="footer-title-routes" [routerLink]="'/' + routes.key">
          <app-title
            [title]="routes.key"
            [fontSize]="'20px'"
            [fontColor]="'black'"
            [fontWeight]="'500'"
            [margin]="'0 0 10px 0'"
            [borderBottom]="'1px solid #000'"
            [paddingBottom]="'3px'"
          ></app-title>
        </a>

        <a class="footer-sub-title-routes" [routerLink]='childRoute.path' *ngFor='let childRoute of routes.value'>{{childRoute.display | titlecase}}</a>
      </div>
    </div>


  </div>
</div>
