<button style="width: 100%; font-family: roboto-fontface, sans-serif"
  mat-button
  class="search-bar-layout"
  [ngStyle]="{'fontSize': fontSize}"
  (click)="openSearchBar()"

  *ngIf="!startSearch">
  <mat-icon>search</mat-icon>
  <span>Search</span>
</button>


<mat-form-field *ngIf="startSearch" [ngStyle]="{'width': width}">
  <input
        type="text"
         placeholder="Search Here"
         matInput
         [formControl]="search"
         [matAutocomplete]="autoCompleteInput"/>
  <mat-autocomplete #autoCompleteInput="matAutocomplete">
    <a class="route-links" routerLink="{{route.path}}"  *ngFor="let route of filterOptions | async">
      <mat-option [value]="route.display" (click)="clearInput()">
        {{route.display}}
      </mat-option>
    </a>
  </mat-autocomplete>
</mat-form-field>

